In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('finalR.csv').drop(['Year', 'home_country', 'away_country', 'away_year', 'home_year'], axis=1)

In [3]:
df.columns

Index(['Away Team Goals', 'Away Team Name', 'Home Team Goals',
       'Home Team Name', 'home_rank', 'home_total_points',
       'home_previous_points', 'home_rank_change', 'home_cur_year_avg',
       'home_cur_year_avg_weighted', 'home_last_year_avg',
       'home_last_year_avg_weighted', 'home_two_year_ago_avg',
       'home_two_year_ago_weighted', 'home_three_year_ago_avg',
       'home_three_year_ago_weighted', 'away_rank', 'away_total_points',
       'away_previous_points', 'away_rank_change', 'away_cur_year_avg',
       'away_cur_year_avg_weighted', 'away_last_year_avg',
       'away_last_year_avg_weighted', 'away_two_year_ago_avg',
       'away_two_year_ago_weighted', 'away_three_year_ago_avg',
       'away_three_year_ago_weighted', 'winning_team', 'RankDiff'],
      dtype='object')

In [4]:
df.tail()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,home_rank,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,home_cur_year_avg_weighted,...,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted,winning_team,RankDiff
1371,0.0,Panama,1.0,Denmark,12,1098.82,1099,0,784.52,784.52,...,369.95,369.95,290.38,145.19,277.41,83.22,189.81,37.96,Denmark,-41
1372,1.0,Sweden,0.0,Denmark,12,1098.82,1099,0,784.52,784.52,...,659.74,659.74,302.57,151.28,462.48,138.74,253.40,50.68,Sweden,-6
1373,0.0,Denmark,0.0,Sweden,18,1000.44,998,0,659.74,659.74,...,784.52,784.52,289.97,144.99,310.70,93.21,380.53,76.11,Draw,6
1374,0.0,Saudi Arabia,4.0,Belgium,5,1325.29,1325,0,626.00,626.00,...,219.26,219.26,324.72,162.36,384.56,115.37,122.58,24.52,Belgium,-60
1375,0.0,Portugal,0.0,Belgium,5,1325.29,1325,0,626.00,626.00,...,744.16,744.16,617.85,308.92,635.88,190.76,570.26,114.05,Draw,2

In [5]:
df.loc[df.winning_team == df['Home Team Name'],'winning_team'] = 2
df.loc[df.winning_team == df['Away Team Name'], 'winning_team'] = 0
df.loc[df.winning_team == 'Draw', 'winning_team'] = 1

In [6]:
df.tail()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,home_rank,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,home_cur_year_avg_weighted,...,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted,winning_team,RankDiff
1371,0.0,Panama,1.0,Denmark,12,1098.82,1099,0,784.52,784.52,...,369.95,369.95,290.38,145.19,277.41,83.22,189.81,37.96,2,-41
1372,1.0,Sweden,0.0,Denmark,12,1098.82,1099,0,784.52,784.52,...,659.74,659.74,302.57,151.28,462.48,138.74,253.40,50.68,0,-6
1373,0.0,Denmark,0.0,Sweden,18,1000.44,998,0,659.74,659.74,...,784.52,784.52,289.97,144.99,310.70,93.21,380.53,76.11,1,6
1374,0.0,Saudi Arabia,4.0,Belgium,5,1325.29,1325,0,626.00,626.00,...,219.26,219.26,324.72,162.36,384.56,115.37,122.58,24.52,2,-60
1375,0.0,Portugal,0.0,Belgium,5,1325.29,1325,0,626.00,626.00,...,744.16,744.16,617.85,308.92,635.88,190.76,570.26,114.05,1,2

In [7]:
df.columns

Index(['Away Team Goals', 'Away Team Name', 'Home Team Goals',
       'Home Team Name', 'home_rank', 'home_total_points',
       'home_previous_points', 'home_rank_change', 'home_cur_year_avg',
       'home_cur_year_avg_weighted', 'home_last_year_avg',
       'home_last_year_avg_weighted', 'home_two_year_ago_avg',
       'home_two_year_ago_weighted', 'home_three_year_ago_avg',
       'home_three_year_ago_weighted', 'away_rank', 'away_total_points',
       'away_previous_points', 'away_rank_change', 'away_cur_year_avg',
       'away_cur_year_avg_weighted', 'away_last_year_avg',
       'away_last_year_avg_weighted', 'away_two_year_ago_avg',
       'away_two_year_ago_weighted', 'away_three_year_ago_avg',
       'away_three_year_ago_weighted', 'winning_team', 'RankDiff'],
      dtype='object')

In [8]:
#label encoder / getDummies
from sklearn.preprocessing import LabelEncoder

In [9]:
word_cup_teams = [
    "Egypt",
    "Morocco",
    "Nigeria",
    "Senegal",
    "Tunisia",
    "Australia",
    "IR Iran",
    "Japan",
    "Korea DPR",
    "Saudi Arabia",
    "Belgium",
    "Croatia",
    "Denmark",
    "England",
    "France",
    "Germany",
    "Iceland",
    "Poland",
    "Portugal",
    "Russia",
    "Serbia",
    "Spain",
    "Sweden",
    "Switzerland",
    "Costa Rica",
    "Mexico",
    "Panama",
    "Argentina",
    "Brazil",
    "Colombia",
    "Peru",
    "Uruguay"
]

team_names = list(df["Home Team Name"].unique()) + list(df["Away Team Name"].unique()) + word_cup_teams

In [10]:
team_name_encoder = LabelEncoder().fit(team_names)

In [11]:
X = df.drop(['Away Team Goals', 'Home Team Goals', 'home_rank', 'away_rank'], axis=1)

In [12]:
X.columns

Index(['Away Team Name', 'Home Team Name', 'home_total_points',
       'home_previous_points', 'home_rank_change', 'home_cur_year_avg',
       'home_cur_year_avg_weighted', 'home_last_year_avg',
       'home_last_year_avg_weighted', 'home_two_year_ago_avg',
       'home_two_year_ago_weighted', 'home_three_year_ago_avg',
       'home_three_year_ago_weighted', 'away_total_points',
       'away_previous_points', 'away_rank_change', 'away_cur_year_avg',
       'away_cur_year_avg_weighted', 'away_last_year_avg',
       'away_last_year_avg_weighted', 'away_two_year_ago_avg',
       'away_two_year_ago_weighted', 'away_three_year_ago_avg',
       'away_three_year_ago_weighted', 'winning_team', 'RankDiff'],
      dtype='object')

In [13]:
y = df['winning_team']

In [14]:
X["Home Team Name"] = team_name_encoder.transform(X["Home Team Name"])
X["Away Team Name"] = team_name_encoder.transform(X["Away Team Name"])

In [21]:
X.tail()

,Away Team Name,Home Team Name,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,home_cur_year_avg_weighted,home_last_year_avg,home_last_year_avg_weighted,home_two_year_ago_avg,...,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted,winning_team,RankDiff
1371,20,7,1098.82,1099,0,784.52,784.52,289.97,144.99,310.70,...,369.95,369.95,290.38,145.19,277.41,83.22,189.81,37.96,2,-41
1372,29,7,1098.82,1099,0,784.52,784.52,289.97,144.99,310.70,...,659.74,659.74,302.57,151.28,462.48,138.74,253.40,50.68,0,-6
1373,7,29,1000.44,998,0,659.74,659.74,302.57,151.28,462.48,...,784.52,784.52,289.97,144.99,310.70,93.21,380.53,76.11,1,6
1374,25,2,1325.29,1325,0,626.00,626.00,600.01,300.00,764.94,...,219.26,219.26,324.72,162.36,384.56,115.37,122.58,24.52,2,-60
1375,23,2,1325.29,1325,0,626.00,626.00,600.01,300.00,764.94,...,744.16,744.16,617.85,308.92,635.88,190.76,570.26,114.05,1,2

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
logreg = LogisticRegression()

In [19]:
logreg.fit(X_train, y_train)

ValueError: Unknown label type: 'unknown'

In [66]:
pred = logreg.predict(X_test)

In [67]:
from sklearn.metrics import classification_report

In [68]:
print(classification_report(y_test, pred))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00       140
          1       1.00      0.99      0.99        97
          2       0.99      1.00      1.00       176

avg / total       1.00      1.00      1.00       413

In [22]:
X.shape

(1376, 26)

In [23]:
y.shape

(1376,)

In [24]:
X_train = X.iloc[:1001,:]

In [25]:
X_test = X.iloc[1001:,:]

In [26]:
y_train = y.iloc[:1001]

In [27]:
y_test = y.iloc[1001:]

In [28]:
logreg2 = LogisticRegression()

In [29]:
logreg2.fit(X_train, y_train)

ValueError: Unknown label type: 'unknown'

In [225]:
pred2 = logreg2.predict(X_test)

NotFittedError: This LogisticRegression instance is not fitted yet

In [91]:
from sklearn.metrics import classification_report

In [92]:
print(classification_report(y_test, pred2))

             precision    recall  f1-score   support

          0       0.89      0.97      0.93       107
          1       0.92      0.68      0.78        87
          2       0.92      0.99      0.95       181

avg / total       0.91      0.91      0.91       375

In [30]:
fifa_ranking = pd.read_csv('fifa_rank_over_time.csv')

In [6]:
fifarank18 = fifarank.iloc[57371:].drop(['country_abrv', 'confederation', 'rank_date'], axis=1).reset_index()

In [188]:
def pred_match(team1, team2):
    # need to load this file from db
    # fifa_ranking = pd.read_csv('fifa_rank_over_time.csv')
    # fifarank18 = fifarank.iloc[57371:].drop(['country_abrv', 'confederation', 'rank_date'], axis=1).reset_index()
    
    home_team_rank = fifarank18.loc[fifarank18.country_full == team1].drop('index', axis=1)
    away_team_rank = fifarank18.loc[fifarank18.country_full == team2].drop('index', axis=1)
    
    home_team_rank.reset_index(drop=True,inplace=True)
    away_team_rank.reset_index(drop=True,inplace=True)
    
    match_pred = home_team_rank.join(away_team_rank, lsuffix='_home', rsuffix='_away')
    # add missing columns
    match_pred['Away Team Name'] = team2
    match_pred['Home Team Name'] = team1
    match_pred['RankDiff'] = match_pred.rank_home - match_pred.rank_away
    
    # select only necessay columns
    match_pred_2 = match_pred[['Away Team Name', 'Home Team Name', 'total_points_home','previous_points_home', 'rank_change_home', 'cur_year_avg_home',
       'cur_year_avg_weighted_home', 'last_year_avg_home',
       'last_year_avg_weighted_home', 'two_year_ago_avg_home',
       'two_year_ago_weighted_home', 'three_year_ago_avg_home',
       'three_year_ago_weighted_home','total_points_away', 'previous_points_away', 'rank_change_away',
       'cur_year_avg_away', 'cur_year_avg_weighted_away', 'last_year_avg_away',
       'last_year_avg_weighted_away', 'two_year_ago_avg_away',
       'two_year_ago_weighted_away', 'three_year_ago_avg_away',
       'three_year_ago_weighted_away','RankDiff']]
    
    # conform to train format
    match_pred_2.columns = ['Away Team Name', 'Home Team Name', 'home_total_points',
       'home_previous_points', 'home_rank_change', 'home_cur_year_avg',
       'home_cur_year_avg_weighted', 'home_last_year_avg',
       'home_last_year_avg_weighted', 'home_two_year_ago_avg',
       'home_two_year_ago_weighted', 'home_three_year_ago_avg',
       'home_three_year_ago_weighted', 'away_total_points',
       'away_previous_points', 'away_rank_change', 'away_cur_year_avg',
       'away_cur_year_avg_weighted', 'away_last_year_avg',
       'away_last_year_avg_weighted', 'away_two_year_ago_avg',
       'away_two_year_ago_weighted', 'away_three_year_ago_avg',
       'away_three_year_ago_weighted', 'RankDiff']
    
    return match_pred_2

In [145]:
home_team_rank = fifarank18.loc[fifarank18.country_full == 'Russia'].drop('index', axis=1)

In [146]:
away_team_rank = fifarank18.loc[fifarank18.country_full == 'Saudi Arabia'].drop('index', axis=1)

In [147]:
home_team_rank.reset_index(drop=True,inplace=True)

In [148]:
away_team_rank.reset_index(drop=True,inplace=True)

In [178]:
match_pred = home_team_rank.join(away_team_rank, lsuffix='_home', rsuffix='_away')

In [179]:
match_pred['Away Team Name'] = 'Saudi Arabia'

In [180]:
match_pred['Home Team Name'] = 'Russia'

In [182]:
match_pred['RankDiff'] = match_pred.rank_home - match_pred.rank_away

In [184]:
match_pred_2 = match_pred[['Away Team Name', 'Home Team Name', 'total_points_home','previous_points_home', 'rank_change_home', 'cur_year_avg_home',
       'cur_year_avg_weighted_home', 'last_year_avg_home',
       'last_year_avg_weighted_home', 'two_year_ago_avg_home',
       'two_year_ago_weighted_home', 'three_year_ago_avg_home',
       'three_year_ago_weighted_home','total_points_away', 'previous_points_away', 'rank_change_away',
       'cur_year_avg_away', 'cur_year_avg_weighted_away', 'last_year_avg_away',
       'last_year_avg_weighted_away', 'two_year_ago_avg_away',
       'two_year_ago_weighted_away', 'three_year_ago_avg_away',
       'three_year_ago_weighted_away','RankDiff']]

In [186]:
match_pred_2.columns = ['Away Team Name', 'Home Team Name', 'home_total_points',
       'home_previous_points', 'home_rank_change', 'home_cur_year_avg',
       'home_cur_year_avg_weighted', 'home_last_year_avg',
       'home_last_year_avg_weighted', 'home_two_year_ago_avg',
       'home_two_year_ago_weighted', 'home_three_year_ago_avg',
       'home_three_year_ago_weighted', 'away_total_points',
       'away_previous_points', 'away_rank_change', 'away_cur_year_avg',
       'away_cur_year_avg_weighted', 'away_last_year_avg',
       'away_last_year_avg_weighted', 'away_two_year_ago_avg',
       'away_two_year_ago_weighted', 'away_three_year_ago_avg',
       'away_three_year_ago_weighted', 'RankDiff']

In [187]:
match_pred_2

,Away Team Name,Home Team Name,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,home_cur_year_avg_weighted,home_last_year_avg,home_last_year_avg_weighted,home_two_year_ago_avg,...,away_rank_change,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted,RankDiff
0,Saudi Arabia,Russia,493.15,493,0,211.16,211.16,168.88,84.44,419.66,...,3,143.97,143.97,360.2,180.1,380.91,114.27,118.2,23.64,-1

In [189]:
test_mat = pred_match("Russia", "Saudi Arabia")

In [190]:
test_mat

,Away Team Name,Home Team Name,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,home_cur_year_avg_weighted,home_last_year_avg,home_last_year_avg_weighted,home_two_year_ago_avg,...,away_rank_change,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted,RankDiff
0,Saudi Arabia,Russia,493.15,493,0,211.16,211.16,168.88,84.44,419.66,...,3,143.97,143.97,360.2,180.1,380.91,114.27,118.2,23.64,-1

In [37]:
fifarank18.loc[fifarank18.country_full == 'Saudi Arabia'].columns

Index(['index', 'rank', 'country_full', 'total_points', 'previous_points',
       'rank_change', 'cur_year_avg', 'cur_year_avg_weighted', 'last_year_avg',
       'last_year_avg_weighted', 'two_year_ago_avg', 'two_year_ago_weighted',
       'three_year_ago_avg', 'three_year_ago_weighted'],
      dtype='object')

In [55]:
columns = ['Away Team Name',
 'Home Team Name',
 'Year',
 'home_rank',
 'home_country',
 'home_total_points',
 'home_previous_points',
 'home_rank_change',
 'home_cur_year_avg',
 'home_cur_year_avg_weighted',
 'home_last_year_avg',
 'home_last_year_avg_weighted',
 'home_two_year_ago_avg',
 'home_two_year_ago_weighted',
 'home_three_year_ago_avg',
 'home_three_year_ago_weighted',
 'home_year',
 'away_rank',
 'away_country',
 'away_total_points',
 'away_previous_points',
 'away_rank_change',
 'away_cur_year_avg',
 'away_cur_year_avg_weighted',
 'away_last_year_avg',
 'away_last_year_avg_weighted',
 'away_two_year_ago_avg',
 'away_two_year_ago_weighted',
 'away_three_year_ago_avg',
 'away_three_year_ago_weighted',
 'away_year']

In [82]:
data = pd.Series()

In [86]:
data = home_team_rank

In [87]:
data

rank                           66
country_full               Russia
total_points               493.15
previous_points               493
rank_change                     0
cur_year_avg               211.16
cur_year_avg_weighted      211.16
last_year_avg              168.88
last_year_avg_weighted      84.44
two_year_ago_avg           419.66
two_year_ago_weighted       125.9
three_year_ago_avg         358.27
three_year_ago_weighted     71.65
Name: 65, dtype: object

In [95]:
data2 = data.append(away_team_rank)

In [99]:
data2.T

rank                                 66
country_full                     Russia
total_points                     493.15
previous_points                     493
rank_change                           0
cur_year_avg                     211.16
cur_year_avg_weighted            211.16
last_year_avg                    168.88
last_year_avg_weighted            84.44
two_year_ago_avg                 419.66
two_year_ago_weighted             125.9
three_year_ago_avg               358.27
three_year_ago_weighted           71.65
rank                                 67
country_full               Saudi Arabia
total_points                     461.99
previous_points                     445
rank_change                           3
cur_year_avg                     143.97
cur_year_avg_weighted            143.97
last_year_avg                     360.2
last_year_avg_weighted            180.1
two_year_ago_avg                 380.91
two_year_ago_weighted            114.27
three_year_ago_avg                118.2
three_year_ago_weighted           23.64
dtype: object

In [98]:
pred_match = pd.DataFrame(data2, index=columns)

ValueError: cannot reindex from a duplicate axis

In [92]:
pred_match

Empty DataFrame
Columns: [Away Team Name, Home Team Name, Year, home_rank, home_country, home_total_points, home_previous_points, home_rank_change, home_cur_year_avg, home_cur_year_avg_weighted, home_last_year_avg, home_last_year_avg_weighted, home_two_year_ago_avg, home_two_year_ago_weighted, home_three_year_ago_avg, home_three_year_ago_weighted, home_year, away_rank, away_country, away_total_points, away_previous_points, away_rank_change, away_cur_year_avg, away_cur_year_avg_weighted, away_last_year_avg, away_last_year_avg_weighted, away_two_year_ago_avg, away_two_year_ago_weighted, away_three_year_ago_avg, away_three_year_ago_weighted, away_year]
Index: []

[0 rows x 31 columns]